.cart{
    
    display:flex;
    /* align-items: center; */
    justify-content:space-between;
}
.cart img{
    width: 70px;
    height: 70px;
    border-radius: 25px;
}
.cart-name{
    font-size: 15px;
    font-weight: 700;
    background-color: black;
    color: goldenrod;
    padding: 5px;
}
.selected-name{
    font-size: 15px;
    font-weight: 700;
    background-color: black;
    color: goldenrod;
    padding: 5px;
}