.span-color{
    color:orangered;
}
h1{
    font-size:50px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}
.head-paragraph{
    font-size: 30px;
    font-weight: 600;
    color: cornflowerblue;
    font-style: oblique;
    text-align: center;
}
.selected{
    background-color:skyblue;
    color: blue;
    font-size:xx-large;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}