.question-answer{
    background-color: black;
    color: gold;
}
.question-cart{
    display: flex;
    gap: 20px;
    
}
.questionAnswer{
    width: 30%;
    height: 550px;
    padding: 15px;
    border: 2px solid green;
    box-shadow: 5px 10px;
}
.questionAnswer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.question-head{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
}
@media screen and (max-width: 800px) {
    .question-cart{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .questionAnswer{
        width: 70%;
        height: fit-content;
        padding: 15px;
        border: 2px solid green;
        box-shadow: 5px 10px;
    }
   
}
